# Archivo que debe ser colocado en: home/.config/systemd/user 
# Para usar: 
#systemctl --user daemon-reload  
#systemctl --user enable yazz-loop.service.service
#systemctl --user start yazz-loop.service.service

[Unit]
Description=Yazz-loop. Cables Virtuales en linux. (-‿◦☀)
Wants=pipewire.service
After=pipewire.service wireplumber.service

[Service]
Type=oneshot
RemainAfterExit=yes

# Estos comandos crean los módulos virtuales

#	1-a. Modulo OBS_out
ExecStart=/usr/bin/pactl load-module module-null-sink sink_name=OBS_out device.description="OBS_out"
#	1-b.Modulo OBS_in
ExecStart=/usr/bin/pactl load-module module-remap-source source_name=OBS_in master=OBS_out.monitor source_properties=device.description="OBS_mic"

#   2-a. Módulo Loop_out
ExecStart=/usr/bin/pactl load-module module-null-sink sink_name=Loop_out device.description="Loop_out"
#	  2-b. Modulo Loop_in
ExecStart=/usr/bin/pactl load-module module-remap-source source_name=Loop_in master=Loop_out.monitor source_properties=device.description="Loop_mic"

# El comando de stop debe encontrar el ID de los módulos para poder descargarlos.
# 1. Busca el ID de OBS_out y lo descarga.
ExecStop=/usr/bin/pactl unload-module $(/usr/bin/pactl list modules | grep -B 2 "Argument: sink_name=OBS_out" | grep "Module \#" | awk '{print $2}')
# 2. Lo mismo con OBS_in.
ExecStop=/usr/bin/pactl unload-module $(/usr/bin/pactl list modules | grep -B 2 "Argument: source_name=OBS_in" | grep "Module \#" | awk '{print $2}')
# 3. Lo mismo con Loop_out
ExecStop=/usr/bin/pactl unload-module $(/usr/bin/pactl list modules | grep -B 2 "Argument: sink_name=Loop_out" | grep "Module \#" | awk '{print $2}')
# 4. Misma vaina
ExecStop=/usr/bin/pactl unload-module $(/usr/bin/pactl list modules | grep -B 2 "Argument: sink_name=Loop_out" | grep "Module \#" | awk '{print $2}')

[Install]
WantedBy=default.target
